*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #18181b;
}
.container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.calculadora{
    display: flex;
    flex-direction: column;
    background-color: #262626;
    color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.title {
    font-size: 20pt;
    font-weight: bolder;
    position: relative;
}
.input_Box label{
    font-size: 14pt;
    color: #cbd5;
}
.input_Icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    margin-top: 3px;
    border-radius: 3px ;
}
.input_Icon span, .input_Icon i{
    color:#f8fafc ;;
    padding: 1rem;
}
.input_Icon input{
    background-color: transparent;
    width: 100%;
    border: none;
    font-size: 1.2rem;
    color:#f8fafc ;
}
.input_Icon input::-webkit-outer-spin-button,
.input_Icon input::-webkit-inner-spin-button{
    appearance: none;
}
.input_Icon input:focus{
     outline: none; /*tira o focu ao clicar no input */
}
.reset{
    width: 100%;
}
button,.reset{
    background-color:#0071db;
    color:#f8fafc ;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    font-size: 1.3rem;
    transition:0.5s ;
    cursor: pointer;

}
button:hover, .reset:hover{
    background-color:#f8fafc;
    color:#0071db;
}
.resultado{
    display: flex;
    align-items: center;
    border-top: 2px solid #ffffff43;
    gap: 2.5rem;
    padding-top: 1rem;
}
.imc{
    display:flex;
    align-items: center;
    flex-direction: column;
    font-size:20pt;
    color: #0071db;
    margin-bottom: 10px;

}
.imc span:last-child{
    font-size:13pt;
    margin-top: 10px;
    color:#f8fafc ;
}
.describe{
    width: 15.5ren;
}
.moreinfo{
    border-top: 2px solid #ffffff43;
    padding-top: 1rem;
    text-align: center;
}
.moreinfo a {
    text-decoration: none;
    cursor: pointer;
    color: #0071db;
    transition: color 0.5s ;
}
.moreinfo a:hover{
    color:#f8fafc ;

}
.info{
    display: none;
}